---
import MainLayout from "../layouts/MainLayout.astro";
import BlogCard from "../components/BlogCard.astro";


import { Image } from "astro:assets";
import aboutImage from "../assets/about-img.jpg";
import testImage from "../assets/test-img.png";

import partner1 from "../assets/partner-1.png";
import partner2 from "../assets/partner-2.png";
import partner3 from "../assets/partner-3.png";
import partner4 from "../assets/partner-4.png";
import partner5 from "../assets/partner-5.png";
import partner6 from "../assets/partner-6.png";



import { HOMEPAGE_ARTICLES_LIMIT } from "../constants";


import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content"

const posts: CollectionEntry<'posts'>[] = (await getCollection('posts')).sort((a:CollectionEntry<'posts'>, b:CollectionEntry<'posts'>) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const mostRecentArticle: CollectionEntry<'posts'> = posts[0];
const otherArticles: CollectionEntry<'posts'>[] = posts.slice(1);

---

<MainLayout>
  <!-- Coming soon page -->
  <!-- <section class="coming-soon">
		<div class="yellow"></div>
		<div class="green"></div>
		<div class="container wrapper">
			<div class="coming-container">
				<h1 class="bg-gradient-to-r from-red-600 via-red-400 to-yellow-300 text-7xl font-bold italic leading-15 text-transparent bg-clip-text md:leading-40 md:text-9xl hero-text mb-4 animate__animated animate__rubberBand">Coming Soon</h1>
				<p class="my-12 text-lg">Our Engineers are working tireslessly to bring you the amazing Experience you deserve. In the meantime, you can contact us via the email.</p>
				<a href="#" class="btn btn-primary">Send an email</a>
			</div>
		</div>
	</section> -->
  <!-- End of coming soon page -->

  <!-- This is hero section of the home page -->
  <section class="section-hero bg-white">
    <div class="container wrapper">
      <div
        class="w-full h-full flex items-center flex-col justify-center text-center max-w-[800px] mx-auto pt-20"
      >
        <h1
          class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
        >
          Lorem Ipsum Sit Amet Dim Dollar
        </h1>
        <p
          class="w-full mb-8 text-lg font-normal text-gray-200 lg:text-xl sm:px-16 xl:px-20"
        >
          Here at Flowbite we focus on markets where technology, innovation, and
          capital can unlock long-term value and drive economic growth.
        </p>
        <div
          class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
        >
          <a href="#" class="btn btn-secondary"> Learn more </a>
          <a href="#" class="btn btn-primary"> Watch video </a>
        </div>
      </div>
    </div>
  </section>
  <!-- End of hero section of the home page -->

  <!-- about section -->
  <section class="section-about">
    <div class="container wrapper">
      <div
        class="gap-20 items-center grid grid-cols-1 md:grid-cols-2 justify-center"
      >
        <div class="mt-4 md:mt-0">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
            Let's create more tools and ideas that brings us together.
          </h2>
          <p class="mb-6 font-light text-gray-500 md:text-lg">
            Flowbite helps you connect with friends and communities of people
            who share your interests. Connecting with your friends and family as
            well as discovering new ones is easy with features like Groups.
          </p>
          <a
            href="#"
            class="btn btn-primary"
          >
            Get started
          </a>
        </div>
        <Image class="w-full" src={aboutImage} alt="dashboard image" />
      </div>
    </div>
    <!-- End of here about section -->
  </section>

  <!-- Section Impact -->
  <section class="section-impact bg-white">
    <div class="container wrapper">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16 text-center mx-auto">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
            Part for impact or values
          </h2>
          <p class="text-gray-500 sm:text-xl">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus,
            iste ullam. Excepturi, natus blanditiis perferendis sint mollitia
            iure unde tempore
          </p>
        </div>
        <div
          class="space-y-8 grid md:grid md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-12 md:space-y-0"
        >
          <div class="impact">
            <div
              class="impact-icon flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
            >
              <svg
                class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <h3 class="mb-2 text-xl font-bold">Marketing</h3>
            <p class="text-gray-500 dark:text-gray-400">
              Plan it, create it, launch it. Collaborate seamlessly with all the
              organization and hit your marketing goals every month with our
              marketing plan.
            </p>
          </div>
          <div class="impact">
            <div
              class="impact-icon flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
            >
              <svg
                class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z"
                ></path></svg
              >
            </div>
            <h3 class="mb-2 text-xl font-bold">Legal</h3>
            <p class="text-gray-500 dark:text-gray-400">
              Protect your organization, devices and stay compliant with our
              structured workflows and custom permissions made for you.
            </p>
          </div>
          <div class="impact">
            <div
              class="impact-icon flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
            >
              <svg
                class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path><path
                  d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"
                ></path></svg
              >
            </div>
            <h3 class="mb-2 text-xl font-bold">Business Automation</h3>
            <p class="text-gray-500 dark:text-gray-400">
              Auto-assign tasks, send Slack messages, and much more. Now power
              up with hundreds of new templates to help you get started.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of section impact -->

  <!-- Section Testimonial -->
  <section class="section-testimonial">
    <div class="container wrapper">
      <div class="testimonial">
        <div class="testimonial-img">
          <Image src={testImage} alt="ipg" />
        </div>
        <div class="testimonial-text">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati
            eveniet nostrum voluptates sit recusandae vitae laudantium alias
            aliquid fugit eum. Sunt quis corporis ad delectus!
          </p>
          <h3>Lorem ipsum sit</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Section Testimonial -->

  <!-- Section Partners -->
  <section class="section-partners">
    <div class="container wrapper">
      <div class="max-w-screen-md mb-8 lg:mb-16 text-center mx-auto">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
          Our Partners
        </h2>
        <p class="text-gray-500 sm:text-xl dark:text-gray-400">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus,
          iste ullam. Excepturi, natus blanditiis perferendis sint mollitia iure
          unde tempore
        </p>
      </div>
      <div
        class="grid md:grid md:grid-cols-2 grid-cols-2 lg:grid-cols-3 gap-4 md:gap-12 md:space-y-0text-center justify-items-center"
      >
        <Image src={partner1} alt="partner-1" class="partner" />
        <Image src={partner2} alt="partner-2" class="partner" />
        <Image src={partner3} alt="partner-3" class="partner" />
        <Image src={partner4} alt="partner-4" class="partner" />
        <Image src={partner5} alt="partner-5" class="partner" />
        <Image src={partner6} alt="partner-6" class="partner" />
      </div>
    </div>
  </section>
  <!-- End of section Partners -->

<!-- ==================== Section News and Blog ============================= -->

<section class="section-news py-40">

	<section class="section-news py-20">
			<div class="container wrapper">
					<h2 class="heading-secondary mb-12">News &amp; Blog</h2>
					<div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
							{otherArticles.slice(0, HOMEPAGE_ARTICLES_LIMIT).map(
									article => (
											<BlogCard post={article} />
									)
							)}
					</div>
					<a href="/blog" class="btn btn-primary mt-12">More News</a>
			</div>
	</section>
	<!-- end of news and blog -->

  <style lang="scss">
    .coming-soon {
      width: 100%;
      height: calc(100vh - 3.5rem);
      background-color: var(--clr-black);
      color: var(--clr-white);
      position: relative;
      z-index: 1;
      overflow: hidden;

      .coming-container {
        width: 100%;
        height: 100%;
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
      }

      .yellow,
      .green {
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        filter: blur(5.5rem);
        opacity: 0.5;
      }
      .yellow {
        background-color: var(--clr-yellow);
        right: -10vw;
        top: 0;
      }
      .green {
        background-color: var(--clr-green);
        bottom: 0;
        left: -10vw;
      }
    }

    // Section hero
    .section-hero {
      width: 100%;
      height: 95vh;
      background-image: url(../assets/hero-bg.jpg);
      background-size: cover;
      background-position: top;
	  background-attachment: fixed;
    }
    // End of section hero



    //   section home about
    .section-about {
      padding-block: 5rem;
      border-bottom: 1px solid lightgray;
    }

    // Section Impact
    .section-impact {
      padding-top: 2rem;
	  padding-bottom: 4rem;

      .impact {
        border: 1px solid lightgray;
        padding: 1rem;
        border-radius: 1rem;
        transition: 0.3s;
        box-shadow: 0 0.3px 5px rgba(0, 0, 0, 0.125);

        &:hover {
          transform: scale(0.95);
        }

        &:hover .impact-icon {
          transform: scale(1.2);
          color: var(--clr-yellow-light);
          background-color: var(--clr-yellow);
        }

        .impact-icon {
          width: 3rem;
          height: 3rem;
          background-color: var(--clr-yellow-light);
          color: var(--clr-yellow);
          transition: 0.3s;
        }
      }
    }

    // section testimonial
    .section-testimonial {
      padding-bottom: 7rem;
      padding-top: 9rem;
      background-image: url(../assets/test-bg.jpg);
      background-size: cover;
      background-position: center;

      .testimonial {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        background-color: #ffd3d0;
        padding: 1.5rem 2rem;
        padding-bottom: 3rem;
        border-radius: 2rem;

        .testimonial-img {
          display: inline-block;
          margin-top: -4rem;
          margin-bottom: 1.5rem;
        }
        .testimonial-text {
          h3 {
            font-weight: bold;
            margin-top: 2rem;
          }
        }
      }
    }

    // Section Partners
    .section-partners {
      padding: 7rem 0 7rem;

      .partner {
        max-width: 200px;
        display: inline-block;
      }
    }
  </style>
</MainLayout>
