---
import MainLayout from "../layouts/MainLayout.astro";
import BlogSection from "../components/BlogSection.astro"


import { Image } from "astro:assets";
import aboutImage from "../assets/about-img.jpg";
import testImage from "../assets/test-img.png";

import partner1 from "../assets/partner-1.png";
import partner2 from "../assets/partner-2.png";
import partner3 from "../assets/partner-3.png";
import partner4 from "../assets/partner-4.png";
import partner5 from "../assets/partner-5.png";
import partner6 from "../assets/partner-6.png";



---

<MainLayout>
  <!-- Coming soon page -->
  <!-- <section class="coming-soon">
		<div class="yellow"></div>
		<div class="green"></div>
		<div class="container wrapper">
			<div class="coming-container">
				<h1 class="bg-gradient-to-r from-red-600 via-red-400 to-yellow-300 text-7xl font-bold italic leading-15 text-transparent bg-clip-text md:leading-40 md:text-9xl hero-text mb-4 animate__animated animate__rubberBand">Coming Soon</h1>
				<p class="my-12 text-lg">Our Engineers are working tireslessly to bring you the amazing Experience you deserve.</p>
				<!-- <a href="#" class="btn btn-primary">Send an email</a> -->
			</div>
		</div>
	</section> -->
  <!-- End of coming soon page -->

  <!-- This is hero section of the home page -->
  <section class="section-hero bg-white">
    <div class="container wrapper">
      <div
        class="w-full h-full flex items-center flex-col justify-center text-center max-w-[800px] mx-auto pt-20"
      >
        <h1
          class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl animate__animated animate__fadeInUp animate__delay-0.5s"
        >
        Shaping Policies and Driving Progress
        </h1>
        <p
          class="w-full mb-8 text-lg font-normal text-gray-200 lg:text-xl sm:px-16 xl:px-20 animate__animated animate__fadeInUp animate__delay-1s"
        >
        Advancing Ghana’s development through data-driven insights, policy analysis, and advocacy
        </p>
        <div
          class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4 animate__animated animate__fadeInUp animate__delay-1s"
        >
          <a href="/about" class="btn btn-secondary"> Learn more </a>
          <a href="/contact" class="btn btn-primary"> Contact Us </a>
        </div>
      </div>
    </div>
  </section>
  <!-- End of hero section of the home page -->

  <!-- about section -->
  <section class="section-about">
    <div class="container wrapper">
      <div
        class="gap-20 items-center grid grid-cols-1 md:grid-cols-2 justify-center"
      >
        <div class="mt-4 md:mt-0">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
            Who We Are
          </h2>
          <p class="mb-6 font-light text-gray-500 md:text-lg">
            We provide expert insights, research, and advocacy to influence policy decisions and drive sustainable development. Explore our services and be part of the change.
          </p>
          <a
            href="/about"
            class="btn btn-primary"
          >
            Read About Us
          </a>
        </div>
        <Image class="w-full" src={aboutImage} alt="dashboard image" />
      </div>
    </div>
    <!-- End of here about section -->
  </section>

  <!-- Section Impact -->
  <section class="section-impact bg-white">
    <div class="container wrapper">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md mb-8 lg:mb-16 text-center mx-auto">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
            Part for impact or values
          </h2>
          <p class="text-gray-500 sm:text-xl">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus,
            iste ullam. Excepturi, natus blanditiis perferendis sint mollitia
            iure unde tempore
          </p>
        </div>
        <div
          class="space-y-8 grid md:grid md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-12 md:space-y-0"
        >
          <div class="impact">
            <div
              class="impact-icon flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
            >
              <svg
                class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z"
                  clip-rule="evenodd"></path></svg
              >
            </div>
            <h3 class="mb-2 text-xl font-bold">Marketing</h3>
            <p class="text-gray-500 dark:text-gray-400">
              Plan it, create it, launch it. Collaborate seamlessly with all the
              organization and hit your marketing goals every month with our
              marketing plan.
            </p>
          </div>
          <div class="impact">
            <div
              class="impact-icon flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
            >
              <svg
                class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z"
                ></path></svg
              >
            </div>
            <h3 class="mb-2 text-xl font-bold">Legal</h3>
            <p class="text-gray-500 dark:text-gray-400">
              Protect your organization, devices and stay compliant with our
              structured workflows and custom permissions made for you.
            </p>
          </div>
          <div class="impact">
            <div
              class="impact-icon flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900"
            >
              <svg
                class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
                ><path
                  fill-rule="evenodd"
                  d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z"
                  clip-rule="evenodd"></path><path
                  d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"
                ></path></svg
              >
            </div>
            <h3 class="mb-2 text-xl font-bold">Business Automation</h3>
            <p class="text-gray-500 dark:text-gray-400">
              Auto-assign tasks, send Slack messages, and much more. Now power
              up with hundreds of new templates to help you get started.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End of section impact -->

  <!-- Section Testimonial -->
  <section class="section-testimonial">
    <div class="container wrapper">
      <div class="testimonial">
        <div class="testimonial-img">
          <Image src={testImage} alt="ipg" />
        </div>
        <div class="testimonial-text">
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati
            eveniet nostrum voluptates sit recusandae vitae laudantium alias
            aliquid fugit eum. Sunt quis corporis ad delectus!
          </p>
          <h3>Lorem ipsum sit</h3>
        </div>
      </div>
    </div>
  </section>
  <!-- End of Section Testimonial -->

  <!-- Section Partners -->
  <section class="section-partners">
    <div class="container wrapper">
      <div class="max-w-screen-md mb-8 lg:mb-16 text-center mx-auto">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">
          Our Partners
        </h2>
        <p class="text-gray-500 sm:text-xl dark:text-gray-400">
          We work with leading institutions, policymakers, and organizations to drive effective governance and policy reforms.
        </p>
      </div>
      <div class="logos">
      <div class="logo_track">
        <div class="logo_items">
          <Image src={partner1} alt="Partner 1"/>
          <Image src={partner2} alt="Partner 2"/>
          <Image src={partner3} alt="Partner 3"/>
          <Image src={partner4} alt="Partner 4"/>
          <Image src={partner5} alt="Partner 5"/>
          <Image src={partner6} alt="Partner 6"/>
        </div>
        <div class="logo_items">
          <Image src={partner1} alt="Partner 1"/>
          <Image src={partner2} alt="Partner 2"/>
          <Image src={partner3} alt="Partner 3"/>
          <Image src={partner4} alt="Partner 4"/>
          <Image src={partner5} alt="Partner 5"/>
          <Image src={partner6} alt="Partner 6"/>
        </div>
        <div class="logo_items">
          <Image src={partner1} alt="Partner 1"/>
          <Image src={partner2} alt="Partner 2"/>
          <Image src={partner3} alt="Partner 3"/>
          <Image src={partner4} alt="Partner 4"/>
          <Image src={partner5} alt="Partner 5"/>
          <Image src={partner6} alt="Partner 6"/>
        </div>
        <div class="logo_items">
          <Image src={partner1} alt="Partner 1"/>
          <Image src={partner2} alt="Partner 2"/>
          <Image src={partner3} alt="Partner 3"/>
          <Image src={partner4} alt="Partner 4"/>
          <Image src={partner5} alt="Partner 5"/>
          <Image src={partner6} alt="Partner 6"/>
        </div>
      </div>
</div>


    </div>
  </section>
  <!-- End of section Partners -->



  <!-- blog Section  -->
   <BlogSection />

  <style lang="scss">
    .coming-soon {
      width: 100%;
      height: calc(100vh - 3.5rem);
      background-color: var(--clr-black);
      color: var(--clr-white);
      position: relative;
      z-index: 1;
      overflow: hidden;

      .coming-container {
        width: 100%;
        height: 100%;
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
      }

      .yellow,
      .green {
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        filter: blur(5.5rem);
        opacity: 0.5;
      }
      .yellow {
        background-color: var(--clr-yellow);
        right: -10vw;
        top: 0;
      }
      .green {
        background-color: var(--clr-green);
        bottom: 0;
        left: -10vw;
      }
    }

    // Section hero
    .section-hero {
      width: 100%;
      height: 95vh;
      background-image: url(../assets/hero-bg.jpg);
      background-size: cover;
      background-position: top;
	    background-attachment: fixed;
    }
    // End of section hero



    //   section home about
    .section-about {
      padding-block: 5rem;
      border-bottom: 1px solid lightgray;
    }

    // Section Impact
    .section-impact {
      padding-top: 2rem;
	  padding-bottom: 4rem;

      .impact {
        border: 1px solid lightgray;
        padding: 1rem;
        border-radius: 1rem;
        transition: 0.3s;
        box-shadow: 0 0.3px 5px rgba(0, 0, 0, 0.125);

        &:hover {
          transform: scale(0.95);
        }

        &:hover .impact-icon {
          transform: scale(1.2);
          color: var(--clr-yellow-light);
          background-color: var(--clr-yellow);
        }

        .impact-icon {
          width: 3rem;
          height: 3rem;
          background-color: var(--clr-yellow-light);
          color: var(--clr-yellow);
          transition: 0.3s;
        }
      }
    }

    // section testimonial
    .section-testimonial {
      padding-bottom: 7rem;
      padding-top: 9rem;
      background-image: url(../assets/test-bg.jpg);
      background-size: cover;
      background-position: center;

      .testimonial {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        background-color: #ffd3d0;
        padding: 1.5rem 2rem;
        padding-bottom: 3rem;
        border-radius: 2rem;

        .testimonial-img {
          display: inline-block;
          margin-top: -4rem;
          margin-bottom: 1.5rem;
        }
        .testimonial-text {
          h3 {
            font-weight: bold;
            margin-top: 2rem;
          }
        }
      }
    }

    .section-partners {
          padding: 7rem 0 5rem;
          border-bottom: 1px solid lightgray;
    
            @keyframes slides {
            from {
              transform: translateX(0);
            }
            to {
              transform: translateX(-70%);
            }
          }

          .logos {
            overflow: hidden;
            padding: 30px 0;
            position: relative;
            white-space: nowrap;
          }

          .logo_track {
            display: flex;
            width: 200%;
            animation: slides 10s linear infinite;
          }

          .logo_items {
            display: flex;
            margin: 0 2rem;
            gap: 2rem;
            flex-shrink: 0;
          }

          .logos:hover .logo_track {
            animation-play-state: paused;
          }

          .logo_items img {
            width: 150px;
            height: 150px;
            object-fit: contain;
          }

  }

  </style>
</MainLayout>
