---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";

import People1 from "../assets/people-1.png";


---


<MainLayout>


<!-- This is hero section of the People page -->
  <section class="section-hero">
    <div class="container wrapper">
      <div
        class="h-full flex flex-col text-center items-center justify-center"
      >
        <h1
          class="my-5 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
        >
        Our People
        </h1>
        <p
          class="mb-8 text-lg font-normal text-gray-200 lg:text-xl sm:px-16 xl:px-48"
        >
        With a small secretariat, the Foundation relies on the advice of a broad range of diverse experts in African affairs, with eminent leaders from government, multilateral organisations, academia, and the private sector, at both African and global lev
        </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End of hero section of the People page -->


  <!-- Leadership section -->
<section class="leadership py-20 border-b border-gray-300">
    <div class="container wrapper">
        <h2 class="mb-12 text-4xl text-center tracking-tight font-extrabold text-gray-900">Our Leadership Team</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- First Leadership -->
            <div class="people">
                <div class="people-img">
                    <Image src={People1} alt="Person-1" />
                </div>
                <div class="people-text">
                    <h3>My NameIS</h3>
                    <p>Lorem Ipsu sit</p>
                </div>
                <ul class="people-social">
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- First Leadership -->
            <div class="people">
                <div class="people-img">
                    <Image src={People1} alt="Person-1" />
                </div>
                <div class="people-text">
                    <h3>My NameIS</h3>
                    <p>Lorem Ipsu sit</p>
                </div>
                <ul class="people-social">
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- First Leadership -->
            <div class="people">
                <div class="people-img">
                    <Image src={People1} alt="Person-1" />
                </div>
                <div class="people-text">
                    <h3>My NameIS</h3>
                    <p>Lorem Ipsu sit</p>
                </div>
                <ul class="people-social">
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
  <!-- End of Leadership Section -->


  <!-- Section Fellow -->
<section class="section-fellows py-20">
    <div class="container wrapper">
        <h2 class="mb-12 text-4xl text-center tracking-tight font-extrabold text-gray-900">Our Fellows</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- First Leadership -->
            <div class="people">
                <div class="people-img">
                    <Image src={People1} alt="Person-1" />
                </div>
                <div class="people-text">
                    <h3>My NameIS</h3>
                    <p>Lorem Ipsu sit</p>
                </div>
                <ul class="people-social">
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- First Leadership -->
            <div class="people">
                <div class="people-img">
                    <Image src={People1} alt="Person-1" />
                </div>
                <div class="people-text">
                    <h3>My NameIS</h3>
                    <p>Lorem Ipsu sit</p>
                </div>
                <ul class="people-social">
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- First Leadership -->
            <div class="people">
                <div class="people-img">
                    <Image src={People1} alt="Person-1" />
                </div>
                <div class="people-text">
                    <h3>My NameIS</h3>
                    <p>Lorem Ipsu sit</p>
                </div>
                <ul class="people-social">
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- First Leadership -->
            <div class="people">
                <div class="people-img">
                    <Image src={People1} alt="Person-1" />
                </div>
                <div class="people-text">
                    <h3>My NameIS</h3>
                    <p>Lorem Ipsu sit</p>
                </div>
                <ul class="people-social">
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- First Leadership -->
            <div class="people">
                <div class="people-img">
                    <Image src={People1} alt="Person-1" />
                </div>
                <div class="people-text">
                    <h3>My NameIS</h3>
                    <p>Lorem Ipsu sit</p>
                </div>
                <ul class="people-social">
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- First Leadership -->
            <div class="people">
                <div class="people-img">
                    <Image src={People1} alt="Person-1" />
                </div>
                <div class="people-text">
                    <h3>My NameIS</h3>
                    <p>Lorem Ipsu sit</p>
                </div>
                <ul class="people-social">
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
  <!-- End of Section Fellow -->
</MainLayout>




<style>
/* Section hero */
  .section-hero {
    width: 100%;
    height: 50vh;
    margin-top: 100px;
    background-color: var(--clr-black);
    background-size: cover;
    background-position: top;
  }
  /* End of section hero */


  .people {
    text-align: center;
    width: 100%;
    transition: .3s;

    &:hover {
        transform: scale(.95);
    }
    &:hover > .people-social {
        transform: scale(1.1);

        a {
            color: var(--clr-white);
            background-color: var(--clr-gray-light);
        }
    }

    .people-text {
        margin: 1rem 0;
        
        h3 {
            font-weight: bold;
            font-size: 1.5rem;
        }
        p {
            color: #909090;
        }
    }
    /* people social icons */
    .people-social {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

        li {

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
        a {
            display: flex;
            width: 3rem;
            height: 3rem;
            border-radius: .5rem;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--clr-gray-light);
            color: var(--clr-gray-light);
            background-color: var(--clr-white);
            transition: .3s;
        }
    }
  }
</style>