---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { formatDate } from '../../utils';

export const getStaticPaths = async () => {
  const allArticles = await getCollection("articles"); // Changed from "people" to "articles"
  return allArticles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
};

type Props = {
  article: CollectionEntry<"articles">; // Changed from "people" to "articles"
};

const { article } = Astro.props;
const { Content } = await article.render();
---

<BlogLayout title={'Africa Policy Lens | ' + article.data.title} description={article.data.description}>
  <!-- section for publication -->
  <section class="individual-article">
    <div class="flow">
      <!-- Title -->
      <h1 class="blog-heading mb-20">{article.data.title}</h1>

      <!-- subtitle -->
      <p class="blog-subheading">{article.data.description}</p>

      <!--Author  -->
      <div class="author">
        <div class="author__image">
          <!-- <Image src={article.data.image} alt={article.data.author} /> -->
          <div>
            <p class="italic">
              written by <span class="author-name not-italic">{article.data.author}</span>
            </p>
            <p class="">{formatDate(article.data.pubDate)}</p>
          </div>

          <!-- Share to social media -->
          <!-- <ul class="blog-share__list">
            <li> -->
              <!-- {# <a href="#">
            <i class="fa-brands fa-linkedin-in"></i>
          </a> #} -->
            <!-- </li>
          </ul> -->
        </div>
        <!-- End of Author tag -->
      </div>
      <Image
        src={article.data.image}
        alt={article.data.imageAlt}
        class="main-article__figure"
      />

      <Content />

      <a href="/publication" class="mt-28 btn btn-secondary py-8">&LeftArrow; Go Back</a>

    </div>
  </section>
</BlogLayout>










  <style lang="scss">


    /* // ============= INDIVIDUAL BLOG PAGE ==================== */
    .individual-article {
      padding: 5rem 0 10rem;

      .flow {
        max-width: 900px;
        padding-inline: 2rem;
        margin-inline: auto;
      }

      /* // Title */
      .blog-heading {
        font-size: 4rem;
        font-weight: medium;
        line-height: 1;
      }

      /* // Description */
      .blog-subheading {
        color: var(--clr-gray-light);
        margin: 1rem 0;
        font-size: 2rem;
        font-weight: normal;
        line-height: 1.5;
      }

      // image
      .main-article__figure {
        margin: 1rem auto;
        margin-bottom: 3rem;
        padding: 0;
        height: auto;
        width: 100%;
        max-width: 500px;
        object-fit: cover;
        border-radius: 2rem;
      }

      //============== Author and date ================
      .author {
        text-transform: capitalize;
        color: darkgray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        margin: 1.5rem 0;
        margin-top: 2rem;
        margin-bottom: 3rem;
        font-size: 1rem;
        border-block: 2px solid var(--clr-gray-light);
        padding-block: 2rem;

        .author-name {
          color: var(--clr-black);
          font-weight: bold;
        }

        &__image {
          display: flex;
          align-items: center;

          p {
            line-height: 1.5;
          }
        }

        img {
          width: 40px;
          height: auto;
          margin-right: 1rem;
        }
        p {
          // display: inline-block;
          margin-bottom: 0rem;
          margin-top: 0;
        }
      }
      // ============== End of Author Details ============



      .blog-share__list {
        list-style: none;
      }

      // Ruler
      hr {
        margin: 2rem 0 4rem;
      }

      h1 {
        margin-bottom: 0.5rem;
        margin-top: 3rem;
        // font-family: 'Yellowtail', cursive;
        letter-spacing: 2px;
        font-weight: bold;
      }
      .heading-secondary {
        // font-family: 'Oswald', sans-serif;
        letter-spacing: 0px;
      }

      // ==================== paragraphs ==================
      p:not([class=""]) {
        margin-bottom: 3rem !important;
        display: none;
      }

      // Blockquotes
      blockquote {
        padding-left: 4rem;
        color: var(--clr-gray);
        font-size: 2.5rem;
        line-height: 1.5;
        margin: 4rem 0;
        border-left: 5px solid var(--clr-primary);
        border-radius: 1px;
      }

      // links
      a {
        display: inline-block;
        position: relative;
        z-index: 1;
        color: var(--clr-black);
        padding: 0 0.5rem;

        &:hover {
          color: var(--clr-white);
        }

        &:hover::after {
          top: 0;
          height: 100%;
        }

        &::after {
          content: "";
          width: calc(100% + 1rem);
          height: 10%;
          background: var(--clr-primary);
          position: absolute;
          top: 100%;
          left: -0.5rem;
          transition: 0.2s ease;
          z-index: -1;
          border-radius: 2px;
        }
      }

      // images
      img {
        width: 100%;
        height: auto;
        line-height: 1;
        border-radius: 2rem;
      }
    }

    .flow p {
  margin-bottom: 3rem;
  line-height: 1.75;
  color: #444;
}
    h2 {
      display: none;
      color: green;
    }



    // ================= media queries ==================
    @media screen and (max-width: 600px) {
      .individual-article {
        .main-article__figure {
          &::before,
          &::after {
            display: none;
          }
        }
      }
    }
    @media screen and (max-width: 1019px) {
      .individual-article {
        // Title
        .blog-heading {
          font-size: 3rem;
        }
      }

      p {
        margin-bottom: 2rem;
      }
    }
  </style>

