---
import MainLayout from "../../layouts/MainLayout.astro";
import { sanityClient } from "sanity:client";
import imageUrlBuilder from "@sanity/image-url";
import type { SanityDocument } from "@sanity/client";

const urlFor = (source: any) =>
  source?.asset?.url
    ? imageUrlBuilder(sanityClient).image(source.asset).auto("format").fit("max").url()
    : null;

const PUBLICATIONS_QUERY = `*[
  _type == "publication" && defined(slug.current)
] | order(publishedAt desc){
  _id,
  title,
  slug,
  publishedAt,
  mainImage{asset->{url}}
}`;

const publications: SanityDocument[] = await sanityClient.fetch(PUBLICATIONS_QUERY);
---

<MainLayout title="Africa Policy Lens | Publications" description="Explore our research, analysis, and reports.">
  <section class="section-blog pt-20 pb-60" id="section-publications">
    <div class="sm-container">
      <h2 class="mb-12 text-4xl tracking-tight font-extrabold text-gray-900">Our Publications</h2>

      <ul class="flex flex-col gap-y-4">
        <div class="grid gap-6 grid-cols-1">
          {publications.map((pub) => (
            <li>
              <a
                href={`/publications/${pub.slug.current}`}
                class="flex flex-col md:flex-row rounded-lg shadow-sm border-gray-700 bg-white hover:bg-gray-200 hover:-translate-y-2 transition-all duration-300 ease-in-out overflow-clip"
              >
                {pub.mainImage?.asset?.url ? (
                  <img
                    src={pub.mainImage.asset.url}
                    alt={pub.title}
                    class="w-full md:w-48 h-auto object-cover rounded-lg"
                  />
                ) : (
                  <img
                    src="/fallback-image.jpg"
                    alt="Default Publication Image"
                    class="w-full md:w-48 h-auto object-cover rounded-lg"
                  />
                )}

                <div class="p-4 flex flex-col justify-between">
                  <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{pub.title}</h2>
                  <p class="mb-3 font-bold text-gray-600">
                    {new Date(pub.publishedAt).toLocaleDateString("en-US", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })}
                  </p>
                </div>
              </a>
            </li>
          ))}
        </div>
      </ul>
    </div>
  </section>
</MainLayout>
