---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

const { team } = Astro.props;

interface Props {
  team: CollectionEntry<"teams">;
}
---

<div class="people">
  <a href={"/people/" + team.slug}>
    <div class="people-img">
      <Image
        src={team.data.image}
        alt={team.data.name}
        width={600}
        height={600 / 1.5}
        class="w-full h-72 object-cover hover:opacity-75 transition duration-300 ease-in-out"
      />
    </div>
    <div class="people-text">
      <h3>{team.data.name}</h3>
      <div class="grid grid-cols-2">
        <p>{team.data.institution}</p>
        <p>{team.data.title}</p>
      </div>
    </div>
    <ul class="people-social">
      <li>
        <a href={team.data.email} class="people-link">
          <i class="fa-solid fa-envelope"></i>
        </a>
      </li>
      <li>
        <a href={team.data.linkedin} class="people-link">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
  </a>
</div>

<style>
  .people {
    text-align: center;
    width: 100%;
    transition: 0.3s;

    &:hover {
      transform: scale(0.95);
    }
    &:hover > .people-social {
      transform: scale(1.1);

      a {
        color: var(--clr-white);
        background-color: var(--clr-gray-light);
      }
    }

    .people-text {
      margin: 1rem 0;

      h3 {
        font-weight: bold;
        font-size: 1.5rem;
      }
      p {
        color: #909090;
      }
    }
    /* people social icons */
    .people-social {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;

      li {
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
      .people-link {
        display: flex;
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--clr-gray-light);
        color: var(--clr-gray-light);
        background-color: var(--clr-white);
        transition: 0.3s;
      }
    }
  }
</style>
