---

import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navigation from "../components/NavBar.astro";

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const {
	title = "Africa Policy Lens, we believe that data-driven insights and informed policy decisions are the foundation of national progress,",
	description = "Africa Policy Lens, we believe that data-driven insights and informed policy decisions are the foundation of national progress, and our commitment to transparency, accountability, and research-driven advocacy sets us apart as a thought leader in governance and economic reforms.",
	image = "/images/logo.png"
} = Astro.props
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta http-equiv="content-language" content="en" />
		<meta property="og:site_name" content="EcoGlass Ltd" />
		<meta name="generator" content={Astro.generator} />
		<!-- Sitemap -->
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />



		<!-- Fontawesome cdn  -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body>
		
        <div class="sm-container">
            <!-- So the main content goes here -->
                <slot />
        </div>

		<!-- Footer -->
		<Footer />
	</body>
</html>

